doctype html
html
    head
        block head
            meta(charset="UTF-8")
            meta(name="viewport" content="width=device-width, initial-scale=1.0")
            title Natours | #{title}
            
            link(href="https://fonts.googleapis.com/css?family=Lato:300,300i,700" rel="stylesheet")
            link(rel="stylesheet" href="/css/style.css")
            link(rel="icon" type="image/png" href="/img/favicon.png")
    body
        // Headers
        include _header

        // Content
        block content
        //- main.main
        //-     .card-container
        //-         .card
        //-             .card__header
        //-                 .card__picture
        //-                     .card_picture-overlay &nbsp;
        //-                     img.card__picture-img(src="img/tour-1-cover.jpg" alt="Tour 1")

        //-                 h3.heading-tertirary
        //-                     span The Forest Hiker

        // Footer
        include _footer

        script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js")